.icon {
  font-size: 115% !important;
}
.green {
  color: #388E3C;
}
.red {
  color: #f00;
}
.ant-pagination-item-active a{
  color: #1565c0 !important;
}
.ant-pagination-item-active {
  border-color: #1565c0 !important;
}
