.posCenter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
}

.hTree {
    height: calc(100vh - 12rem);
    min-height: 20rem;
}

.w-30 {
    width: 30%;
}

.btn[disabled] {
    cursor: not-allowed;
}

.borderNone .ant-calendar-picker-input {
    // background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.cursorPointer {
    cursor: pointer;
}

.cursorDefault .ant-dropdown-menu-submenu-title,
.cursorDefault {
    cursor: default;
}

.fieldBox {
    right: 0;
    top: 33px;
    z-index: 12;
    max-height: 70vh;
    overflow: auto;
    min-height: 18rem;
    .iconList {
        font-size: 12px;
        margin-top: .4rem;
        transition: transform 100ms ease-in-out;
    }
    .rotate180 {
        transform: rotate(180deg);
    }
}

.fontSize {
    font-size: 0.64rem;
}