.hChart {
    height: 350px;
}

.ant-switch {
    background-color: #e55039;
}

.ant-switch-checked {
    background-color: #6ab04c;
}

.font-14p {
    font-size: 14px;
}

.anticon {
    vertical-align: text-top;
}

.mBtmPx {
    margin-bottom: 30px;
}

.widDate {
    width: 200px;
}

.flexBasis {
    flex-basis: 95%;
    max-width: 95%;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

.backIcon {
    font-size: 1.2rem;
}

.hFixScroll {
    height: calc(100% - 111px);
    overflow-x: auto;
}
.customPanelStyle {
  border: 0
}
.ant-collapse-arrow {
  background: rgba(0,0,0, 0.1);
  padding: 3px;
  border-radius: 4px;
}
.ant-collapse-item-active .ant-collapse-arrow {
  background: #1565c0;
  color: #fff !important;
}
#extensions .form-control {
  border: 0 !important;
  min-height: calc(100vh - 50vh);
}
