body,
#root {
    height: 100vh;
    background-color: #f2f4f8;
}

.mainStyle {
    display: flex;
    height: 100vh;
    padding: 0;
}

.rightPanel {
    margin: 0 auto;
    width: 68rem;
    clear: both;
    box-sizing: border-box;
}